<mat-sidenav-container class="sidenav-container">
    <mat-sidenav #sidenav mode="side" opened class="sidenav"
    [fixedInViewport]="false" [fixedTopGap]="options.top"
    [fixedBottomGap]="options.bottom">

    <a class="item" [routerLink]="constants.BMI_URL" routerLinkActive="router-link-active" > Basic Map Initialization</a>
    <a class="item" [routerLink]="constants.MARKERS_URL"> Markers</a>    
    <a class="item" [routerLink]="constants.ANIMATIONS_URL"> Animations</a>    
    <a class="item" [routerLink]="constants.MAP_INTERACTION_URL"> Map Interaction</a>    
    <a class="item" [routerLink]="constants.ROUTING_URL"> Routing</a>    
    <a class="item" [routerLink]="constants.SEARCH_POLYGON_URL"> Search-Polygon</a>    
</mat-sidenav>
</mat-sidenav-container>