.sidenav-container {
    position: absolute;
    top: 14vh;
    bottom: 0;
    left: 0;
    right: 85%;
    font-family: 'Open Sans', sans-serif;
}

.sidenav {
  display: flex;
  justify-content: center;
  width: 200px;
  background: #736e68;
}

::ng-deep.mat-drawer-inner-container {
  padding-top: 3vh !important;
  display: grid;
  height: 55% !important;
  margin-left: 10px;
}

.item{
  width: 100%;
  text-decoration: none;
  color: #fff;
}
