<div class="container">
    <div class="heading">
        <img src="/assets/images/location.png" alt="logo" width="50" height="50" style="margin: 10px 10px;">
        <h1>Basic Map Initialization / Vector Map</h1>
        <div class='toggle-button'  (click)="changeTheme()">
               <span *ngIf="constants.MODE=='main'">Night Mode</span>
               <span *ngIf="constants.MODE!='main'">Day Mode</span>
        </div>
    </div>
    <div id='bmimap' class='map'></div>
</div>
