#foldable {
    padding: 14px 16px 24px;
    width: 320px;
}
.icon-spacing-right {
    margin-right: 12px;
    margin-top: 22px;
}
.tt-search-box-input {
    width: calc(100% - 25px) !important;
}
.map-view .tt-icon.-finish {
    height: 16px;
    width: 16px;
}
.icon-wrapper > .tt-form-label {
    flex: 1;
}
.map-view .draggable-marker {
    align-items: center;
    background-color: #4a90e2;
    border: solid 3px #2faaff;
    border-radius: 50%;
    display: flex;
    height: 32px;
    justify-content: center;
    transition: width .1s, height .1s;
    width: 32px;
}
.map-view .icon-wrapper {
    display: flex;
    min-height: 52px;
    padding-left: 10px;
}
.map-view .icon-spacing {
    float: left;
    margin-right: -25px;
    margin-top: 24px;
    z-index: 1;
}

.tt-overlay-panel.-left-top {
    padding: 12px 10px 20px 30px;
    top: 3vh!important;
    left: 35vh !important;
    border-radius: 10px;
    background-color: rgba(21, 22, 26, 0.3);
    // opacity: 30%;
}
::ng-deep.tt-search-box-input-container{
    border-radius: inherit !important;
    padding-left: 25px;
}
::ng-deep.tt-search-box{
    border-radius: 35px !important;
}