<div class="container">
    <div class="heading">
        <img src="/assets/images/location.png" alt="logo" width="50" height="50" style="margin: 10px 10px;">
        <h1>Search - Polygon</h1>
        <div class='toggle-button'  (click)="changeTheme()">
            <span *ngIf="constants.MODE=='main'">Night Mode</span>
            <span *ngIf="constants.MODE!='main'">Day Mode</span>
        </div>
    </div>
    <div id='polygonmap' class='map'>
        <div id='foldable' class='tt-overlay-panel -left-top -medium js-foldable'>
            <form>
                <label id='searchBoxPlaceholder' class='tt-form-label'>
                    
                </label>
            </form>
        </div>
    </div>
    
</div>

