/* You can add global styles to this file, and also import other style files */
@import "../node_modules/@angular/material/prebuilt-themes/pink-bluegrey.css";
@import url("https://api.tomtom.com/maps-sdk-for-web/cdn/6.x/6.20.0/maps/maps.css");
@import "../src/assets/css/index.css";
@import "../src/assets/css/icons-css/routing.css";
@import "../src/assets/SearchBox.css";
// @import url("https://api.tomtom.com/maps-sdk-for-web/cdn/plugins/SearchBox/3.2.0//SearchBox-web.js");

body{
    background: linear-gradient(90deg, hsla(228, 11%, 9%, 1) 0%, hsla(0, 0%, 37%, 1) 100%);
    padding: 0;
    margin: 0;
}

.heading{
    display: flex;
    color: #fff;
    font-family: 'Open Sans', sans-serif;
    height: 14vh;
    align-items: center;
}

.container{
    width: 100%;
    height: 97vh;

    // text-align: center;
}

.map{
    width: 100%;
    height: 86vh !important;
}

.mapboxgl-canvas{
    width: 100% !important;
    height: 100% !important;
}
.mapboxgl-ctrl {
    margin: 10px 20px 0 0 !important;
}

.toggle-button {
    color: #000;
    border-radius: 500px !important;
    border: #15161a 1px solid;
    padding: 15px 16px !important;
    position: absolute;
    width: 20vh;
    background: #999999;
    right: 16px;
    z-index: 2;
    text-align: center;
    cursor: pointer;
    font-size: 13px;
}

.toggle-button:hover{
    background-color: #ccc;
    font-weight: bold;
    // box-shadow: 2px 2px 8px #999999;
}

.mat-slide-toggle-content{
    font-family: 'Open Sans', sans-serif;}