<div class="container">
    <div class="heading">
            <img src="/assets/images/location.png" alt="logo" width="50" height="50" style="margin: 10px 10px;">
            <h2>Routing / Routing with draggable marker</h2>
            <div class='toggle-button'  (click)="changeTheme()">
                <span *ngIf="constants.MODE=='main'">Night Mode</span>
                <span *ngIf="constants.MODE!='main'">Day Mode</span>
         </div>
    </div>
    
    <div class="map-view">
        <div id='routingmap' class='map'></div>
        <div class='tt-overlay-panel -left-top -medium js-foldable'>
            <div class='icon-wrapper'>
                <div class='tt-icon icon-spacing -start'></div>
                <div id='startSearchBox' class='tt-form-label'></div>
            </div>
            <div class='icon-wrapper'>
                <div class='tt-icon icon-spacing -finish'></div>
                <div id='finishSearchBox' class='tt-form-label'></div>
            </div>
        </div>

    </div>
</div>
